body{
  margin: 0;
  text-align: center;
}
.top-container{
  background-color: #E4F9F5;
  color: #1eb2a6;
  position: relative;
  padding-top: 100px;
  font-family: 'Open Sans', sans-serif;
}
h1{
  line-height: 1.1;
  margin:0 auto;
  font-family: 'Tangerine', cursive;
  font-weight: 800;
  font-size: 5.625rem;
}
.mylogo{
  margin-top: 40px;
}
p{
  font-family: adobe-garamond-pro, serif;
  font-size:1.5rem;
font-weight: 400;
color: #545454;
}
.err{
  margin-top: 0;
  font-size: 30px;
}
h3{
  color:#1eb2a6;
font-size: 25px;
  font-family: 'Montaga', serif;
}
.middle-container{
  position: relative;
}
.skill-row{
  width: 50%;
  margin: 50px auto;
  text-align: left;
}
h2{
  font-family: 'Montaga', serif;
  color:#1eb2a6;
  font-size: 2.5rem;
  font-weight: 400;
  padding-bottom: 10px;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;
}
.bottom-cloud{
  left: 250px;
  position: absolute;
}
.intro{
  width: 30%;
  margin:auto;
}
.skills{
text-align: center;
}
.coding{
  width: 25%;
  float: left;
  margin-right: 30px;
  }
  hr{
    border-style: dotted none none none;
    width: 5%;
    border-color: #EAF6F6;
    border-width: 7px;
  }
.game{
  border-radius: 100%;
  background-color: #545454;
  width:25%;
  float:right;
  margin-left: 30px;
}
.contact{
  text-align: center;
  margin-bottom: 100px;
}
.bottom-container{
  background-color: #E4F9F5;
  padding: 50px 0 20px;
}
a{
  color:#11999e;
  font-family: adobe-garamond-pro, serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color:#11cdd4;
}
.mail {
  margin-top: 60px;
  -moz-border-radius: 8;
  -webkit-border-radius: 8;
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  background: #11cdd4;
  border-radius: 8px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.mail:hover {
  background: #30e3cb;
  background-image: -moz-linear-gradient(top, #30e3cb, #ffffff);
  background-image: -ms-linear-gradient(top, #30e3cb,#ffffff );
  background-image: -o-linear-gradient(top, #30e3cb, #ffffff);
  background-image: -webkit-linear-gradient(top, #30e3cb,#ffffff);
  background-image: linear-gradient(to bottom, #30e3cb, #ffffff);
  text-decoration: none;
}
.copyright{
  color:#11cdd4;
  font-size: 0.75rem;
  padding:20px 0;
}
